body, html {
    background-color: #f6f6f6;
    line-height: 1.6em;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

/* Resetting all link decorations */
a {
    text-decoration: none;
    font-family: 'Frank Ruhl Libre', serif;
}
.page-wrapper {
    width: 100%;
    height: 100vh;
}

.item-text p{
    color: #6e6b6b;
}

.item-text span {
    color: white;
}

.item-box:nth-child(1) {
    background-color: #F17949;
}

.item-box:nth-child(2) {
    background-color: #FAB131;
}

.box-links {
    color: white;
}

.main-container:nth-child(1) {
    background-color: #A9A19E;
}

/* Background color of the picture cards */
.blue {
    background-color: #C7DDEA;
}
.orange {
    background-color: #FAB131;
}
.dark-orange {
    background-color: #F17949;
}