@use "../abstracts/variables" as *;
.nav-list {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white-clr;
    z-index: 1;
}

.list-item {
    flex: 1 1 25%;
    text-align: center;
    padding: 2em 0;
    background-color: $white-clr;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.list-item:hover, 
.list-item:active {
    background-color: #d6d6d6;
    color: black;
}

.list-item a{
    color:rgb(75, 75, 75, 0.7);
    font-weight: bold;
}

@media screen and (min-width: 1200px) {

    /* Navigation */
    .nav-list {
        position: static;
    }
}